*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: "Work Sans", sans-serif;}

.header{
    padding: 20px;
}
@media(max-width:560px){
    .header{
        width: 100%;
max-width: 560px;
    
    }
    .landing{
        width: 100%;
max-width: 560px;
    }
    .master{
       max-width: 560px;
        /* width: 560; */
    }
    .foot-master{
        
        flex-direction: column;
        /* width: 560px; */
    }
    .Services{
        
        margin: 0;
        padding-left: 0;
    }
    .contenr-one{
        width: 526px;
    }
    .Portfolio{
        width: 560px;
    }
    .about{
        width: 560px;
    }
    .about-text{
        width: 538px;
        text-align: center;
    }
    .contact-us{
        width: 560px;
    }
    .copy-right{
        width: 560px;
    }
}
.contenr{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.logo{width: 60px;}
img{border-style:none ;}
.links{
    position: relative;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.list{
    display: flex;
justify-content: flex-end;
}
ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
ul a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 15px;
    transition: var(--min-duration);
    -webkit-transition: var(--min-duration);
    -moz-transition: var(--min-duration);
    -ms-transition: var(--min-duration);
    -o-transition: var(--min-duration);
    background-color: transparent;
}
.landing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    text-align: center;
    flex-direction: column;   
}
.landing h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #10cab7;
    }
.landing    p{
    font-size: 19px;
    line-height: 1.8;}

.links:hover ul{
    display: block;}
ul a:hover{
    padding-left: 20px;
    }
ul::before{
    content: "";
    top: -20px;
    left: 180px;
    border-color:transparent transparent #ddd transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
        }
        /* .list:hover{
            animation-name: flip;
            animation-duration: 1s;
        
        } */
.foot{
    color: #10cab7;
    padding: 20px;
    text-align: center;
        }
.master{
    display: grid;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
        }
.foot-master{
   display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;}

.foot h3{ color: black;
    font-weight: 800;
    margin: 30px 0;}
.foot p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
        }
/* #icon1{
    position: relative;
    left: 55px;
}
#icon2{
    position: relative;
    left: 33%;
}
#icon3{
    position: relative;
    left: 39%;
} */
/* service start */
.Services{
    padding-top: 60px;
    padding-left: 60px;
    margin: 100px;
    /* margin-left: 430px; */
}
.contenr-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Spesial{color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;}
    .Spesial+p{
        margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    }
    .Services-content{display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    gap: 100px;  
    justify-content: center;
    align-items: center;
    
}
.service{
    
    /* text-align: center; */
    display: inline;
    margin-top: 50px;
    /* margin-left: 100px; */
    display: flex;
    justify-content: center;
}

.content{
    color: #10cab7;
display: flex;
justify-content: start;
align-items: center;
padding: 10px;
flex-direction: column;

}
.content h3{
    color:black;
text-align: center;
}
.content p{
    color: #777;
}
.img-service{
    position: relative;
    padding: 10px;
    /* left: 650px; */
    /* bottom: 423px; */
    /* display: flex; */
    width: 266px;
}
.img-service::before{
    content: "";
    background-color: #2c4755;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}



/* service end */

/* portfoilo start */
.Portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.Portfolio-header h2{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;

}
.Portfolio-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Portfolio-header h2+p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
.protofoio-content-master{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center
}
.Portfolio-content{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    padding: 20px;
    justify-content: start;
    width: 970px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    gap: 10px;
    align-items: center;
}
    

.content-portfoio{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background-color:white;
    
}
img{
    max-width: 100%;
    padding-bottom: 10px;
}
.content-portfoio h3{padding-left: 10px;
}
.content-portfoio p{
    padding-left: 10px;
color:#797979;}
/* portfoila-end */

/* about-start */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:white;}
.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.about-header h2{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;

    }
.about-header h2+ p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    }
    .master-about-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
.about-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    column-gap: 200px;
}

.about-content h4{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    margin-top: 50px;
    width: inherit;
}
.about-content p{
    line-height: 2;
    color: #777;
    width: inherit;
}
.about-text{
    flex-basis: calc(100% - 500px);
    width: 640px;
    /* display: flex; */
    /* flex-direction: column; */
}
.about-img{
    position: relative;
    width: 250px;
    height: 375px;
    z-index: 1;
    margin-left: 50px;
}
img{
    width: 100%;
}
.about-img::after{
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;
    right: -140px;
}
.about-img::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about-master{
    display: flex;
    flex-direction: column;
}
.about-content hr{
    width: 50%;
    display: inline-block;
    border-color: #10cab7
}
/* about-end */
/* contact-us-start */
.contact-us{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact-us-header h2{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.contact-us-header h2 + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
.contact-us-header{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.contact-us-content h3{
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact-us-content a{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none
}
.p{
    display: flex;
    column-gap: 9px;
    font-size: 16px;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}
.contact-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* contact-us-end */
/* copy-right-start */
.copy-right{
    background-color: #2c4755;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.copy-right span{
    color: #10cab7;
    font-weight: bold;
    padding-right: 7px;
}
/* copy-right-end */